@page "/grid"
@using System.Drawing
@using Piet.Grid

<PageTitle>Piet</PageTitle>

<h3>Piet</h3>


<table class="table">
    <tbody>
        @*@foreach (var row in GridData)*@
        @for (var i = 0; i < 3; i++)
        {
            <tr>
            @*@foreach (var value in row)*@
            @for (var j = 0; j < 3; j++)
            {
                int local_i = i;
                int local_j = j;
                    @*<td style='background:#@value;'>@value</td>*@
                    @*<td style='max-height: 30px; max-width: 30px; height: 30px; width: 30px; border: 1px solid black; background-color: rgb(@value.R, @value.G, @value.B); none repeat scroll 0% 0%; color: white; font-size: 11px; text-shadow: black 1px 1px 1px; text-align: center; cursor: url("img/pencil.png") 5 30, auto;'>@value</td>*@

                    @*<td style='background-color: rgb(@value.R, @value.G, @value.B)' @onclick="@(e => UpdateColor(i, j))">@value</td>*@

                var value = GridData.GetCell(i, j);
                <td style='background-color: rgb(@value.R, @value.G, @value.B)' @onclick="@(e => UpdateColor(@local_i, @local_j))">@i @j</td>
            }
            </tr>
       
    }
    </tbody>
</table>

@code {

    private PietDataGrid GridData = new PietDataGrid(4, 4);

    private void UpdateColor(int i, int j)
    {
        System.Console.WriteLine($"i: {i} j: {j}");
        GridData.SetRandomCellColor(i, j);
    }

}

@*https://gabriellesc.github.io/piet/index.html*@